## **Data Types**

Built-in data types in Python include:
1. Numeric types - int, float, complex
1. Sequence types - list, tuple, range
1. Set types - set, frozenset
1. Mapping type - dict
1. Text sequence type - str

.... and more

**Integer (int)**: Whole numbers without a decimal point. They are useful for counting items, indexing, and other tasks that don't require fractional values.
( *not used while training models since weights and biases have to be precise and not approximations*)

**Floating-Point (float)**: Numbers with a decimal point. Useful for measurements, calculations that require fractions, and so on.

**String (str)**: Text or a sequence of characters. Useful for storing and manipulating text data like names, titles, etc.

**Boolean (bool)**: Represents True or False values. Useful for conditional statements and logic.

In [1]:
my_integer = 10
my_integer = 100 - 10
my_float = 20.5
my_string = "Hello, Python!"
my_boolean = True

print("The data type of my_integer is:", type(my_integer))
print("The data type of my_float is:", type(my_float))
print("The data type of my_string is:", type(my_string))
print("The data type of my_boolean is:", type(my_boolean))

The data type of my_integer is: <class 'int'>
The data type of my_float is: <class 'float'>
The data type of my_string is: <class 'str'>
The data type of my_boolean is: <class 'bool'>

**Type Casting :** converting one data type to another is known as "type casting"

In [2]:
# Integer to Float
my_int = 10
my_float = float(my_int)
print(my_float)  # Output will be 10.0

# Float to Integer
my_float = 10.5
my_int = int(my_float)
print(my_int)  # Output will be 10, note that it truncates the decimal part

10.0
10

In [3]:
#If a string represents a number, you can convert it to an integer using int() or to a float using float()

# String to Integer
str_num = "10"
int_num = int(str_num)
print(int_num)  # Output will be 10

# Float to String
my_float = 10.5
str_num = str(my_float)
print(str_num)  # Output will be "10.5"

10
10.5

## **Arithmetic Operators for Numbers**
For numerical values (int and float), the +, -, *, /, and % operators perform as you'd expect, carrying out addition, subtraction, multiplication, division, and modulus (remainder) respectively.

Any artihmetic operation between int and float will result into ?

In [4]:
result = my_int + my_float
print(result)

20.5

In [5]:
result = 10//3
print(result)

3

**Special Use of + for String Concatenation** : The + operator can also concatenate (combine) two strings:

In [6]:
greeting = "Hello, "
name = "John"
complete_greeting = greeting + name
print(complete_greeting)  # Output: "Hello, John"

Hello, John

**Special Use of % for String Formatting** : The % operator can be used for old-style string formatting

In [7]:
name = "John"
age = 30
formatted_string = "My name is %s and I am %f years old." % (name, age)
print(formatted_string)  # Output: "My name is John and I am 30 years old."

My name is John and I am 30.000000 years old.

The difference between **assignment and comparison**.

In [10]:
x = 100  # Assignment: x now holds the value 10
y = 20  # Assignment: y now holds the value 20
z = x + y  # Assignment: z now holds the value of x + y, which is 30
z

120

In [11]:
"""
Comparison (==, !=, <, >, <=, >=)
Comparison operators are used to compare values and return a Boolean result (True or False).
"""
result = (10 == 20)  # Comparison: Checks if 10 is equal to 20; returns False
result = (10 != 20)  # Comparison: Checks if 10 is not equal to 20; returns True
result = (10 < 20)  # Comparison: Checks if 10 is less than 20; returns True
result = (10 > 20)  # Comparison: Checks if 10 is greater than 20; returns False
result = (10 <= 20)  # Comparison: Checks if 10 is less than or equal to 20; returns True
result = (10 >= 20)  # Comparison: Checks if 10 is greater than or equal to 20; returns False

 ## **Logical operators**
 In Python are used to combine conditional statements These operators are useful for making more complex conditions by combining simpler conditions. Python supports the following logical operators :
and, or, not

In [12]:
x = 5
print(x > 1 and x < 10)  # Output: True (both conditions are True)
x = 5
print(x < 1 or x > 3)  # Output: True (at least one condition is True)
x = 5
print(not x < 1)  # Output: True (x < 1 is False, so not False is True)

True
True
True

In [13]:
x = 5
y = 10
print(x > 1 and y < 20 and x != y)  # Output: True (all conditions are True)

True

## Override built-ins and classes

In [14]:
# DON'T DO THIS
sum
print(sum([1, 2, 3]))

# Overriding the built-in 'sum' function
# def sum(iterable):
#     print("My custom sum function")
#     total = 0
#     for item in iterable:
#         total += item**2
#     return total

# print(sum([1, 2, 3]))

# Create custom functions for the behviour you want

def my_custom_sum(iterable):
    print("My custom sum function")
    total = 0
    for item in iterable:
        total += item**2
    return total

print(sum([1, 2, 3]))

6
6

## Indentation :

In [16]:
n = [3, 5, 7]
def double_list(x):
    for i in range(0, len(x)):
        x[i] = x[i] * 2
    return x
print(double_list(n))

  # n = [3, 5, 7]
  # def double_list(x):
  #     for i in range(0, len(x)):
  #         x[i] = x[i] * 2
  #     return x
  # print(double_list(n))

[6, 10, 14]

## Reference
**Reference Semantics** in Python refer to how the language handles variable assignment and function argument passing when dealing with mutable and immutable types.

**Mutable vs. Immutable Types**

First, it's essential to know that some data types in Python are mutable (can be changed after they are created), while others are immutable (cannot be changed once created).

**Immutable types:** Numbers (int, float), Strings, Tuples

**Mutable types:** Lists, Dictionaries, Sets

In [17]:
"""When you assign one variable to another for an immutable type, both variables point to the same object in memory until one of them is changed.
Once changed, the variable will point to a new object in memory."""

x = 3  # Immutable type
y = x

print(x, "\t\t", y)
print(id(x), id(y))  # Both will have the same id

y = 4  # Now y will point to a different object in memory

print(id(x), id(y))  # Different ids
print(x, "\t\t", y)

3 		 3
135856628646192 135856628646192
135856628646192 135856628646224
3 		 4

In [18]:
"""For mutable types, when you assign one variable to another, both point to the same object in memory.
Changing one will also change the other because they refer to the same underlying object."""

a = [1, 2, 3]  # Mutable type
b = a

print(a, "\t\t", b)
print(id(a), id(b))  # Both will have the same id

b.append(4)

print(id(a), id(b))
print(a, "\t\t", b)  # Output will be [1, 2, 3, 4]

[1, 2, 3] 		 [1, 2, 3]
135856334870080 135856334870080
135856334870080 135856334870080
[1, 2, 3, 4] 		 [1, 2, 3, 4]

##Sequence Types

**List**

A list can contain items of the same type or different types. It is mutable, meaning you can change its elements after the list has been created.

In [19]:
# List
numbers = [1, 2, 3, 4, 5]

mixed_list = [1, "apple", 3.5, True]

# Adding an element
numbers.append(6)
print(numbers)  # Output: [1, 2, 3, 4, 5, 6]

# Changing an element
mixed_list[1] = "banana"
print(mixed_list)  # Output: [1, "banana", 3.5, True]

[1, 2, 3, 4, 5, 6]
[1, 'banana', 3.5, True]

**Tuples**

Tuple are ordered and unchangeable/immutable (new items can't be added to it).

Tuples can store duplicate items.

In [20]:

days = ('Monday', 'Tuesday', 'Wednesday')

mixed_tuple = (1, 'apple', 3.5, True)

# This will produce an error
# days[0] = 'Sunday'

# Concatenation to produce a new tuple
new_days = days + ('Thursday',)
print(new_days)  # Output: ('Monday', 'Tuesday', 'Wednesday', 'Thursday')

('Monday', 'Tuesday', 'Wednesday', 'Thursday')

**String**

Strings are sequences of characters. They are immutable.

In [21]:
#String
vowels = "aeiou"

sentence = "Hello, 2023!"

# This will produce an error
# sentence[0] = 'h'

# Concatenation to produce a new string
new_sentence = "Hi" + ", 2023!"
print(new_sentence)  # Output: "Hi, 2023!"

Hi, 2023!

**Range** type is a special kind of sequence in Python that's often used for iteration in loops. It represents an immutable sequence of numbers, but unlike lists, tuples, or strings, it doesn't actually store all the numbers in memory.

In [22]:
print("Range with stop number and default step")
print(list(range(5)))
print("Note: The iterator does not stop at the number specified")

print("Range with start, stop and step 2")
print(list(range(0,20,5)))

print("Reverse direction with negative step size")
print(list(range(8,0,-2)))

my_tuple = tuple(range(5, 10))
print(my_tuple)

Range with stop number and default step
[0, 1, 2, 3, 4]
Note: The iterator does not stop at the number specified
Range with start, stop and step 2
[0, 5, 10, 15]
Reverse direction with negative step size
[8, 6, 4, 2]
(5, 6, 7, 8, 9)

## **Set Type**

A set is an unordered collection of unique elements. Sets are mutable, meaning you can add and remove elements from them.

Characteristics:

**Unordered:** Elements have no fixed order.

**Unique:** No duplicate elements are allowed.

**Mutable:** Can add or remove elements.

In [23]:
my_set = {1, 2, 3}

# Or you can use the set() constructor
another_set = set([1, 2, 3])

mixed_set = {1, "apple", 3.5}

You can perform set operations like union, intersection, and difference:

In [24]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))  # Output: {1, 2, 3, 4, 5}
print(a.intersection(b))  # Output: {3}
print(a.difference(b))  # Output: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

## **Mapping Type (dict)**

A dict (dictionary) is an unordered collection of key-value pairs. Dictionaries are mutable and allow you to map keys to values.

Characteristics:

**Unordered:** Key-value pairs have no fixed order.

**Mutable:** Can add or remove key-value pairs.

**Unique Keys:** Keys must be unique.

In [25]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(my_dict)

# using  the dict() constructor
my_dict = dict(key1='value1', key2='value2', key3='value3')
print(my_dict)

# using zip function
my_dict = dict(zip(['key1', 'key2', 'key3'], ['value1', 'value2', 'value3']))
print(my_dict)

# using tuples in a list
my_dict = dict([('key2', 'value2'), ('key3', 'value3'), ('key1', 'value1'),])
print(my_dict)

fruit_colors = {'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}
print(fruit_colors)

mixed_dict = {'name': 'Alice', 'age': 30, 'is_student': True}
print(mixed_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'key2': 'value2', 'key3': 'value3', 'key1': 'value1'}
{'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}
{'name': 'Alice', 'age': 30, 'is_student': True}

You can access, add, or modify key-value pairs in a dictionary

In [26]:
# Access value by key
print(fruit_colors['apple'])  # Output: 'red'

# Add key-value pair
fruit_colors['orange'] = 'orange'

# Modify value
fruit_colors['apple'] = 'green'

print(fruit_colors)

red
{'apple': 'green', 'banana': 'yellow', 'grape': 'purple', 'orange': 'orange'}

In [27]:
print(fruit_colors.get('apple'))
print(fruit_colors.get('kiwi',"doesn't exist"))
fruit_colors['kiwi'] = 'green'
print(fruit_colors.get('kiwi',"doesn't exist"))

green
doesn't exist
green

## **Control Structures**

If-else and Loops

In [28]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is greater than 5

In [29]:
if z == 3.45 or y == "Hello":
 x = x + 1
 y = y + "World" # String concat.

In [30]:
# For Loop
for i in range(5):
    print(i)

# While Loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4
0
1
2
3
4

## **Functions**

In [50]:
def describe_pet(animal_type , pet_name ):
    print(f"I have a {animal_type} named {pet_name}.")


describe_pet(animal_type='hamster' , pet_name ="Perry")

# Another way
# def describe_pet(animal_type ="Dog" , pet_name="Andy" ):
#     print(f"I have a {animal_type} named {pet_name}.")

# Another way
# def describe_pet(animal_type , pet_name="Andy" ):
#     print(f"I have a {animal_type} named {pet_name}.")

# Wrong way. Why?
# def describe_pet(animal_type ="Dog" , pet_name ):
#     print(f"I have a {animal_type} named {pet_name}.")

I have a hamster named Perry.

In [32]:
def min_max(numbers):
    return min(numbers), max(numbers)

min_val, max_val = min_max([1, 2, 3, 4, 5])

print(min_val, max_val)

1 5

In [33]:
def add(*args):
    total = 0
    for num in args:
        total += num
    return total

print(add(1, 2, 3, 4, 5))  # Output: 15
print(add(10, 20))         # Output: 30

15
30

In [34]:
add_ten = lambda x: x + 10
print(add_ten(5))  # Output will be 15

multiply = lambda x, y: x * y
print(multiply(3, 4))  # Output will be 12

average = lambda x, y, z: (x + y + z) / 3
print(average(5, 10, 15))  # Output will be 10.0

15
12
10.0

In [40]:
points = [(1, 2), (3, 4), (0, 1)]
points.sort(key=lambda x: x[1])
print(points)

[(0, 1), (1, 2), (3, 4)]

In [41]:
type(points[0])

tuple

In [39]:

# Error Handling

_sum = 0
while True:
    try:
        val = int(input('Enter next integer, 0 to stop: '))
        if val == 0:
            break
        _sum += val
    except ValueError:
        print("Input must be an integer")
print(_sum)

Enter next integer, 0 to stop: 1
Enter next integer, 0 to stop: 2
Enter next integer, 0 to stop: a
Input must be an integer
Enter next integer, 0 to stop: 3
Enter next integer, 0 to stop: 4
Enter next integer, 0 to stop: 0
10

# Review

In [ ]:
#Guess the Data Type
type(True)

In [ ]:
#Lambda Question
f = lambda x: x*x
print(f(5))

# A) 25
# B) 10
# C) 5

In [ ]:
# Identify the Error
print("I am" + 25 + "years old.")

# A) No error
# B) Cannot concatenate str and int
# C) The print function is misspelled

In [ ]:
#Guess the output

print(not True)

In [ ]:
# List Indices

my_list = [1, 2, 3, 4]
print(my_list[0])

In [ ]:
#Looping

for i in range(3):
    print(i)
# A) 0 1 2
# B) 1 2 3
# C) 0 1 2 3

In [ ]:
#Set

my_set = {1, 2, 2, 3}
print(len(my_set))

# A) 3
# B) 4
# C) 2

In [ ]:
#What's missing?
if 5 > 2:
    print("Yes")

# A) else: statement
# B) Nothing, it's fine
# C) return statement

In [ ]:
#At some point in the class I mentioned a hamster. What was the hamster's name?

# A) Perry
# B) Harry
# C) Andy